body {
    background-image: url("/Users/quynhdao/Prime/Tier1/assignment-unit-5.2/assignment/record.png");
    background-repeat: repeat;
    margin: 0;
}

header {
    background-color: rgb(108, 12, 143);
    color:rgb(211, 106, 250);
    text-align: center;
}

main {
    background-color: rgb(181, 188, 188);
    padding: 1em;
}


ul {
    color: aqua;
}

.specificity {
    color: rgb(255, 30, 169);
    }

/* NOTE: class take priority over element */